* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: #fad0e1;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #ee82b8;
  box-shadow: 0 5px 10px rgba(255, 26, 167, 0.22);
}

#song-img {
  width: 220px;
  border-radius: 50%;
  /* border: 5px solid #fff; */
  box-shadow: 0 10px 60px rgba(255, 4, 199, 0.30);
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: #333;

}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ee82b8;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;

}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ee82b8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 167, 0.22);
}

.time {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ee82b8;
  box-shadow: 0 10px 20px rgba(255, 26, 167, 0.22);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.3);
  background: #ee82b8;
  color: #fff;
}